################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MentorOnDemand_Microservices/.vs/MentorOnDemand_Microservices/v16
