<div class="head d-flex justify-content-center">
    <h2>Admin Login</h2>
  </div>
  <div class="head d-flex justify-content-center">
    <div class="card" style="height: auto">
      <div class="head d-flex justify-content-center">
        <form (ngSubmit)="submit_form_data(form1.value)" #form1="ngForm">
          
          <div class="container">
            
            <label style="color: white"><b>Email</b></label>
            <input type="email" [(ngModel)]="email_id" name="email_id" #email_id_ref="ngModel"  required placeholder="Enter Email">
      
            <label style="color: white"><b>Password</b></label>
            <input type="password" [(ngModel)]="pass_word" name="pass_word" #pass_word_ref="ngModel" required placeholder="Enter Password">
      
            
          
            <span *ngIf="email_id_ref.invalid && email_id_ref.dirty">
              <span *ngIf="email_id_ref.errors.required" class="error red-text">E-mail ID Should not be empty</span>
          </span><br>

          <span *ngIf="pass_word_ref.invalid && pass_word_ref.dirty">
            <span *ngIf="pass_word_ref.errors.required" class="error red-text">Password Should not be empty</span>
          </span><br>
            
            <div class="d-flex justify-content-center">
              <!-- <input type="button" class="btn btn-dark button1" value="Sign In" routerLink='../upage'> -->
              <button [disabled]="!form1.form.valid" class="btn btn-dark button1">Login</button>
            </div>
          </div>
          <br>

          
          
        </form>
        
      </div>
    </div>
  </div>
  <div>
    <h3 class="error d-flex justify-content-center red-text">{{error_message}}</h3>
  </div>