<div class="d-flex justify-content-center" style="padding-top: 40px">
    <h4>Trainer Profile</h4>
</div>


<div class="container" style="padding-top: 150px">




    <div class="card-deck" style="padding-top: 3px">
        <div class="card" style="width:800px; height:300px; border-radius: 2rem; color: white;">
            <span style="padding: 15px; color: white" class="fa fa-clock-o fa-5x"></span>
            <div class="card-body">
                <h4 class="card-title">Update Profile</h4>
                <p class="card-text">Add your details</p>
                <button class="btn btn-dark button1" [routerLink]="['../updateprofile']">View</button>
            </div>
        </div>
    </div>



    <div class="card-deck" style="padding-top: 3px">
        <div class="card" style="width:800px; height:300px; border-radius: 2rem; color: white;">
            <span style="padding: 15px; color: white" class="fa fa-clock-o fa-5x"></span>
            <div class="card-body">
                <h4 class="card-title">Add Course</h4>
                <p class="card-text">See available technologies to create courses</p>
                <button class="btn btn-dark button1" [routerLink]="['../mtechlist']">View</button>
            </div>
        </div>
    </div>

    <div class="card-deck" style="padding-top: 3px">
        <div class="card" style="width:800px; height:300px; border-radius: 2rem; color: white;">
            <span style="padding: 15px; color: white" class="fa fa-clock-o fa-5x"></span>
            <div class="card-body">
                <h4 class="card-title">Trainings Ongoing</h4>
                <p class="card-text">See ongoing Trainings</p>
                <button class="btn btn-dark button1" [routerLink]="['../mcourselist']">View</button>
            </div>
        </div>
    </div>


    <div class="card-deck" style="padding-top: 3px">
        <div class="card" style="width:800px; height:300px; border-radius: 2rem; color: white;">
            <span style="padding: 15px; color: white" class="fa fa-thumbs-o-up fa-5x"></span>
            <div class="card-body">
                <h4 class="card-title">Trainings Completed</h4>
                <p class="card-text">See completed courses</p>
                <button class="btn btn-dark button1" [routerLink]="['../mcompletedlist']">View</button>
            </div>
        </div>
    </div>

    <!-- <div class="card-deck" style="padding-top: 3px">
        <div class="card" style="width:400px; height:300px; border-radius: 2rem; color: white;">
            <span style="padding: 15px; color: white" class="fa fa-edit fa-5x"></span>
            <div class="card-body">
                <h4 class="card-title">Edit Skills</h4>
                <p class="card-text">Edit the technologies provided.</p>
                <a href="train_skill.html" class="btn btn-dark button1">View</a>

            </div>
        </div>
    </div> -->

</div>