<br><br>

<h1>Ongoing Courses</h1>
<br><br><br>

    <!-- <div class="form" style="text-align: center; padding-top: 5%; color: white">
    
        
        <div class="table-responsive" style="width: 100%;">
          <table class="table table-striped table-bordered table-hover" style="width: 100%; color: white; background: rgba(0,0,0,0.7)">
           
            <tr style="color: black">
              <th>CourseName</th>                                                 
              <th>StartDate</th>
              <th>EndDate</th>
              <th>CourseFee</th>
              
            </tr>
            <tr *ngFor="let course of courses">
              <td>{{course.technologyName}}</td>                                                     
              <td>{{course.startDate | date:'yyyy-MM-dd'}}</td>
              <td>{{course.endDate | date:'yyyy-MM-dd'}}</td>
              <td>{{course.courseFee}}</td>              
            </tr>
          </table>          
          
        <div>
          <p class="red-text">{{error_message}}</p>
        </div>
      </div>
    </div> -->




    <div class="card1 tablepadding">
        <table class="table table-striped table-bordered table-hover">
            <tr class="text">
                <th>CourseName</th>                                                 
                <th>StartDate</th>
                <th>EndDate</th>
                <th>CourseFee</th>
                
              </tr>
              <tr *ngFor="let course of courses" class="text">
                <td>{{course.technologyName}}</td>                                                     
                <td>{{course.startDate | date:'yyyy-MM-dd'}}</td>
                <td>{{course.endDate | date:'yyyy-MM-dd'}}</td>
                <td>{{course.courseFee}}</td>              
                <!-- <td [routerLink]="['../traineraddcourse', technology.id]"><a title="Add Course"><i class="fa fa-plus-square"></i></a></td>               -->
              </tr>
        </table>
      </div>